<div class="text-center">
    <img src="~/img/logo_size_invert.jpg" alt=" foto de logo">
    <h1 class="display-4">soy Marcus Aurelio (26)</h1>
    <h4>Soy un desarrollador fullstack especializado en tecnologias .NET, javascript y Dispositivos movil</h4>
    <img id="foto" src="~/img/foto mia.jpg" alt=" foto mia">
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portafolio
        </h1>
            <p>
                Soy un desarrollador de software con experiencia profesional desde el 2022,
                participando en proyectos variados y colaborando tanto con empresas locales de Neiva,
                como con compañías de mayor envergadura como prestador de servicios.
                Mi perfil técnico incluye habilidades en C#/ASP .NET, SQL Server, Entity Framework, JavaScript, React, Node.js, PHP
                y dispositivos moviles,
                con un enfoque en crear soluciones eficientes y escalables para diversas necesidades empresariales.
            </p>
    </div>
</div>